<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta data for seo -->
    <meta name="keywords" content='Art, Alex Housset, Artiste'>
    <meta name="description" content='Dear Readers, Abreviations Sucks'>
    <meta name="reply-to" content='alex.housset@gmail.com'>
    <meta name="category" content='art'>
    <meta name="distribution" content="global">
    <meta name="author" lang="fr" content="Benoit CALIN, Nicolas BEAUDOUIN">

    <title>Alex Housset</title>

    <%= stylesheet_link_tag "application" %>

  </head>
  <body>

    <%= yield %>

    <!-- We put the JS include tag after the yeild to prevent errors (when you try to select an element that is not already loaded on the page) -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
