.artworks-wrapper {
  width: 100vw;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artworks-header {
  width: 100%;
  max-width: 900px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.title {
  max-width: 100%;
  max-width: 350px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding-bottom: 10px;
  img {
    max-width: 100%;
    max-height: 100%;
    &:hover {
      background-color: $light-gray;
      opacity: 0.5;
    }
  }
  a {
    height: 40px;
    margin: 10px;
    display: flex;
    align-items: left;
    justify-content: left;
  }
}

.artworks-inner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.artworks-index {
  flex-grow: 1;
  min-width: 300px;
  max-width: 900px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-gap: 15px;
  margin: 20px 0;
}

.miniature {
  overflow: hidden;
  position: relative;
  text-align: center;
  // box-shadow: 1px 1px 2px #e6e6e6;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

// ADD MEDIAQUERY SUR MAX HEIGHT
.miniature img {
  max-width: 100%;
  max-height: 386px;
}

.miniature .filter {
  // format
  width: 100%;
  height: 100%;
  // flexbox
  display: flex;
  justify-content: center;
  align-items: center;
  // color & opacity
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  // position absolute
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  h2 {
    color: white;
    font-size: 17px;
  }
}

.miniature:hover .filter {
  opacity: 1;
  transition-delay: 0s;
  transition: 0.3s ease-in;
}


