.modal {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  overflow: scroll;
  justify-content: flex-start;
  padding: 15px;
}

.modal-background {
 overflow: auto;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 15px;
}

.modal-button {
  position: fixed;
  opacity: 0.6;
  bottom: 40px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  max-height: 100%;
}

.col-sm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  margin: 10px;
}

.modal-img {
  img {
    height: 80vh;
    width: auto;
  }
}

@media (max-width: 840px) {
  .modal-img {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    border: none;
    height: auto;
    width: 80%;
  }
}

.modal-text {
  img {
    height: auto;
    max-width: 500px;
  }
}

@media (max-width: 640px) {
  .modal-text {
    img {
      max-width: 100%;
    }
  }
}

.player {
  display: flex;
  justify-content: center;
  min-width: 500px;
  margin: 10px 30px 80px 30px;
}

@media (max-width: 640px) {
  .player {
    max-width: 100%;
  }
}

