<div class="artworks-wrapper">

  <div class="artworks-header">
    <div class="artist-content">
      <h1>Alex Housset</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni iure facilis consequatur eveniet fugiat laboriosam dolore itaque ratione alias ad.</p>
    </div>
  </div>

  <div class="artworks-inner-wrapper">
    <div class="artworks-index">
      <div class="grid">

        <% data.art.artworks.each do |artwork| %>
          <a
          href=""
          class="artwork"
          id="artwork-#{<%= artwork.id %>}"
          style="<%= artwork.style %>">
            <div class="miniature" style="background-image: url(<%= image_path 'test.jpg' %>)">
              <div class="filter">
                <h2><%= artwork.id %></h2>
              </div>
            </div>
          </a>
        <% end %>

      </div>
    </div>
  </div>
</div>


