<div id="home-image" style="background-image: url(<%= image_path 'cover_home.jpg' %>)">
</div>

<div class="home-button">
  <a href="artworks.html">
    <button type="button" class="btn btn-secondary">Accéder aux oeuvres</button>
  </a>
</div>
