<a href="artworks.html">

  <div id="home-image" style="background-image: url(<%= image_path '0-cover_home.jpg' %>)">
  </div>

  <div class="home-button">
      <%= image_tag 'home.png' %>
  </div>

</a>
