<div class="d-none">
  <h1>Mentions</h1>
</div>




<div class='mentions'>
  <span>Copyright  © Alex Housset - <%= link_to 'mentions légales', 'mentions.html', class: 'mentions-link' %></span>
</div>
